#home { 
  margin-top: 350px;
}

 #home h1{
  font-size: 30px;
 }

nav .navbar{
  z-index: 3;
}

.navbar-links ul {
  display: flex;
  flex-direction: column;
  margin-top: 350px;
  background-color: #000000dc;
  align-items: center;
  width: 100%;
}

.navbar ul li {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 15px 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.toggle-btn {
  display: flex;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links{
  background-color: #000000dc;
  }

.navbar {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position:fixed;
}

.navbar-links.active {
  display: flex;
}

.navbar {
  z-index: 2;
}

/* #about {
  height: 70%;
  width: 100%;
} */

/* .about {
  flex-direction: column;
}

.about h2 {
  text-align: center;
}

#about {
  margin-top: 50px;
}

.about img {
  width: 150px;
  height: 150px;
  padding: 0px 15px;
} */

.form{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border-radius: 15%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 auto;
}


#message {
  width: 40%;
  height: 150px;
}

#name,
#email,
#message {
  width: 150px;
}

#submit {
  width: 100%;
}
.social-container{
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  /* #about {
    width: 80%;
    border-radius: 15%;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */

}