nav .navbar{
  z-index: 3;
}

.navbar-links ul {
  display: flex;
  flex-direction: column;
  margin-top: 350px;
  background-color: #000000dc;
  align-items: center;
  width: 100%;
}

.navbar ul li {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 15px 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.toggle-btn {
  display: flex;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links{
  background-color: #000000dc;
  }

.navbar {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position:fixed;
}

.navbar-links.active {
  display: flex;
}

.navbar {
  z-index: 2;
}

#home { 
  margin-top: 190px;
}

 #home h1{
  font-size: 30px;
  margin: 0px;
 }

 #about{
  
    width: 80%;
    border-radius: 15%;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
 
#about-text h1{
  font-size: 30px;
}

#about img {
  width: 100%;
  height: 100%;
}

.title  h2{
  color: white;
  font-size: 30px;
  width: 1130px;
  margin: 30px auto;
text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 90rem;
}

.card {
height: 60%;
width: 335px;
padding: 20px 35px;
background: #191919;
border-radius: 20px;
margin: 15px;
position: relative;
overflow: auto;
text-align: center;
}

form{             
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: none;
}

.navbar{
  position:fixed;
}

nav .navbar{
  z-index: 3;
}

#contact {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height:auto;
  justify-content: center;
  align-items: center;
}

#contact h1 {
  font-size: 55px;
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border-radius: 15%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 auto;
}

.social-container{
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

#message{
  height: 100px;
}

#submit {
  margin-top: 2px;
  width: 100px;
}

